{% extends 'base.html' %}
{% block title %} Delete Course {% endblock %}
{% block content %}
<div class="row">
    <div class="col-sm-12 mb-3">
        <h4 class="text-center"> Welcome {{ user.username }} </h4>
        <h2>Delete Course</h2>
        <p>Are you sure you want to delete the course "{{ course.name }}"?</p>
        <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Yes, delete</button>
        </form>
        <a href="{% url 'course_list' %}" class="btn btn-secondary">Cancel</a>
    </div>
</div>
{% endblock %}
